* {
    background-color: rgb(95, 89, 81);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(224, 112, 112);
}

h3 {
    font-family: Geneva, Tahoma, sans-serif;
    font-style: italic;
    color:rgb(143, 159, 250);
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    font-size: 20px;
    font-family: 'Bangers', sans-serif;
    font-weight: bold;
    color: rgb(76, 194, 76);
    background-color: transparent;
}

p {
    color:rgb(139, 208, 255);
}

li {
    list-style: none;
    color: rgb(139, 208, 255);
}

.recipes {
    background-color: rgb(95, 89, 81);
}

.link {
    background: rgb(112, 105, 96);
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 50px;
    padding-top: 45px;
    border: 5px;
    border-style: solid;
    border-color: rgb(66, 62, 56);
    width: 200px;
    height: 125px;
}